name: Publish to Docker Hub

on:
  push:
    branches:
      - main

jobs:
  build:
  runs-on: ubuntu-latest
  steps:
    - name: Check out
      uses: actions/checkout@v5

    - name: Extract project version
      id: get_version
      run: |
        pip install toml
        VERSION=$(python -c "import toml; print(toml.load('pyproject.toml')['project']['version'])")
        echo "VERSION=$VERSION" >> $GITHUB_ENV
        echo "Detected version: $VERSION"

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push to Docker Hub
      uses: docker/build-push-action@v6
      with: 
        context: .
        push: true
        tags: |
          ${{ vars.DOCKERHUB_USERNAME }}/bin-it:latest
          ${{ vars.DOCKERHUB_USERNAME }}/bin-it:${{ env.VERSION }}
